body {
    font-family:'Courier New', Courier, monospace;
}

.start-game {
    background-color: lightsteelblue;
    display: flex;
    height: 25vh;
    width: auto;
    visibility: show;
}

.welcome {
    display: flex;
    margin: 2em;
    justify-content: flex-start;
}

#game-message {
    text-align: center;
}

#restart {
    margin: 2em;
    align-content:center;
    border: 1px solid black;
    border-radius: 3em;
    
}

.card > span {
    visibility: hidden;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    visibility: show;
    font-family: "Palatino";
}

.card {
    width: 80px;
    margin: 1rem;
    display: flex;
    min-height: 140px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    box-sizing: border-box;
    flex: 0 20%;
    min-height: 270px;
    box-shadow: 10px 11px 11px rgb(0 0 0 / 20%);
    visibility: visible;
}

.endgame {
    display: hidden;
}