body {
    font-family:'Courier New', Courier, monospace;
}

.start-game {
    display: flex;
    background-color: lightsteelblue;
    align-items: center;
    justify-items: flex-start;
    height: 25vh;
    width: auto;
    visibility: show;
}

.end-game {
    display: flex;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: ease-in-out .3s all;
    visibility: hidden;
}

.congrats {
    visibility: visible;
}


.welcome {
    display: flex;
    margin: 2em;
    justify-content: flex-start;
}

#game-message {
    text-align: left;
}

#restart {
    padding: 10px 20px;
    border: 1px solid black;
    margin: 20px 0 0 0;
    background-color: cornflowerblue;
}

.card > span {
    visibility: hidden;
    pointer-events: none;
}

.card > span.cardVisible {
    visibility: visible;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: show;
    font-family: "Palatino";
}

.card {
    width: 80px;
    margin: 1rem;
    display: flex;
    border: 1px solid black;
    display: flex;
    font-size: 4rem;
    box-sizing: border-box;
    flex: 0 20%;
    box-shadow: 10px 11px 11px rgb(0 0 0 / 20%);
    visibility: visible;
    max-width: 100px;
    height: 140px;
    line-height: 0;
    align-items: center;
    justify-content: center;
}
